.p-dialog-footer {
  justify-content: space-between !important;
}
.p-dialog {
  margin: 0 1rem !important;

}

/* .p-dialog {
  position: relative;
  width: 31rem;
  overflow: auto;

}

.p-dialog-content {
  margin: 2rem 0;
  overflow: auto;
  display: flex;
  height: 100%;
}

.p-confirm-dialog-message,
.modal__message {
  color: black;
  display: flex;
  font-size: 1.5rem;
  height: 12rem;
  margin: 0 2rem;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
}

 

.modal__long-message {
  margin: 0 2rem;
  align-items: start;
  text-align: justify;
  font-size: 1.5rem;
}

.p-dialog .p-dialog-header .p-dialog-header-icon {
  width: 3rem;
  height: 3rem;
  box-shadow: none;
  background-color: transparent;
}
.p-dialog-header {
  justify-content: end;
}
.p-icon {
  width: 1.5rem;
  height: 1.5rem;
}
.p-dialog-title {
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  color: white;
  background-color: black;
  width: 12rem;
  height: 4rem;
  z-index: 2;
  top: 0;
  left: -1.3rem;
  border-radius: 1rem 0 1rem 0;
  z-index: 1;
  position: absolute;
  justify-content: center;
}
.p-dialog-footer button {
  font-size: 1.5rem;
  background-color: black;
  color: white;
  padding: 1rem;
}
@media (min-width: 768px) {
  .p-dialog {
    width: 50rem;
  }
  .p-dialog-title {
    width: 15rem;
  }
  .p-confirm-dialog-message,
  .modal__message {
    font-size: 2rem;
  }
  .modal__long-message {
    font-size: 1.6rem;
  }
  .p-dialog:has(.modal__long-message) {
    width: 90vw;
  }

  .p-dialog .p-dialog-header .p-dialog-header-icon {
    width: 4rem;
    height: 4rem;
  }
  .p-icon {
    width: 2rem;
    height: 2rem;
  }
  .p-dialog-title {
    font-size: 2rem;
    margin-left: 1rem;
  }
  .p-dialog-footer button {
    font-size: 2rem;
  }
} */
