@import url(./animations.css);
@import url(./tree-select.css);
@import url(./dialog.css);


@layer reset, primevue;


@font-face {
  font-family: "Poppins";
  src: url('/Poppins-Regular.ttf');
}

@font-face {
  font-family: "Poppins";
  font-weight: bold;
  src: url('/Poppins-Bold.ttf');
}


*,
*::before,
*::after {
  box-sizing: border-box;
  font-weight: normal;
}


:root {
  --shadow: 0 0 0.3rem 0.3rem #00000030;
  --bradius: 1rem;
  --p-font-family: 'Poppins', sans-serif;
  --high-contrast-text-color: #0f172a;
  --text-color: #334155;
  --text-secondary-color: #64748b
  

}


body {
  transition: color 0.5s, background-color 0.5s;
  font-family: 'Poppins';
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
  
}
main {
  width: 100vw;
  height: 100vh;
  overflow: auto;
}

html {
  width: 100vw;
  overflow-x: hidden;
  background: -webkit-linear-gradient(10deg,#9599e2 0%, #8bc6ec 100%,#f8fafc, #f8fafc,#f8fafc,#f8fafc);
  
  background: linear-gradient(80deg, #9599e2 , #9599e2,#8bc6ec,#f8fafc, #f8fafc,#f8fafc);
 
}
html.dark {
  width: 100vw;
  overflow-x: hidden;
  background: -webkit-linear-gradient(#0f172a, #1e293b);
  
  background: linear-gradient(#0f172a, #1e293b);
 
}

input:not([type="checkbox"]),
input:not([type="radio"]) {
  transition: border ease 0.2s;
}

.white-button img {
  filter: invert();
}

label,
img {
  user-select: none;
}
img {
  pointer-events: none;
}

h1 {
  font-family: inherit;
  font-weight: 600;
  line-height: 1.2;
  margin-block: 1.5rem 1rem;
  margin-inline: 0;
}

.gradient-background{
  background: -moz-linear-gradient(136deg, rgb(149, 153, 226) 0%, rgb(139, 198, 236) 100%);
  background: -webkit-linear-gradient(136deg, rgb(149, 153, 226) 0%, rgb(139, 198, 236) 100%);
  background: -ms-linear-gradient(136deg, rgb(149, 153, 226) 0%, rgb(139, 198, 236) 100%);
}

html.dark .gradient-background{
  background: -moz-linear-gradient(136deg, #0f172a, #1e293b);
  background: -webkit-linear-gradient(136deg, #0f172a, #1e293b);
  background: -ms-linear-gradient(136deg, #0f172a, #1e293b);
}
