@import url(./animations.css);
@import url(./modal.css);
@layer reset, primevue;
@import url(./primevue-modified.css);

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
  padding: 0;
}
:root {
	--shadow:0 0 0.3rem 0.3rem #00000030;
}

body {
  min-height: 100vh;
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
  font-family: var(--font-family);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
main {
  width: 100%;
  height: 100%;
  overflow: auto;
}

html {
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.7)
    ),
    url("/img/test.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
  font-size: 62.5%;
  width: 100vw;
  overflow-x: hidden;
}
button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  position: relative;
  color: black;
  border-radius: 1.5rem;
  transition: all ease 0.2s;
  text-align: center;
  box-shadow: var(--shadow);
  user-select: none;
  cursor: pointer;
  animation: .3s scale;
}
button img{
  width: 2rem;
  transition: all ease .2s;
}
button:active img{
  filter: invert();
}

button * {
  
  user-select: none;
}
.black-button {
  background-color: black;
  color: white;
  padding: 1rem;
}
.black-button:active {
  background-color: white;
  color: black;
}
label,
img {
  user-select: none;
}
img {
  pointer-events: none;
}
button:hover {
  transform: scale(1.1);
}
button:active {
  transform: scale(1);
}
.box-shadow-box {
  background-color: white;
  border-radius: 1.5rem;
  box-shadow: var(--shadow);
}
.page-title, .page-subtitle{
  color: black;
    text-align: center;
    animation: .8s fade-in;
}
.page-title{
  
  margin-top: 6rem;
  font-size: 1.6rem;
  
}
.page-subtitle{
  font-size: 1.5rem;
}
.invert-color, .invert-color *{
  filter: invert();
}

@media (min-width: 768px) {
  .page-title {
    font-size: 2.5rem;
  }
  .page-subtitle{
    font-size: 1.8rem;
  }
}

